<ion-header>
</ion-header>

<ion-content>
  <div class="title">
    <ion-icon name = "cloudy-night" color="primary">Primary></ion-icon>
    <ion-text color="primary">
      <h1>Sleep Tracker</h1>
    </ion-text>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size = "4">
          <ion-button color = "secondary" size = "large" routerLink = "/input-log">
            <ion-icon name = "bed"></ion-icon>
          </ion-button>
          <ion-text color="primary">
            <h3>Log<br>Sleep</h3>
          </ion-text>
      </ion-col>
      <ion-col size="4">
          <ion-button color = "secondary" size = "large" routerLink = "/stanford-sleepiness">
            <ion-icon name = "happy"></ion-icon>
          </ion-button>
          <ion-text color="primary">
            <h3>Record Sleepiness</h3>
          </ion-text>
      </ion-col>
      <ion-col size="4">
          <ion-button color = "secondary" size = "large" routerLink = "/log-tracker">
            <ion-icon name = "book"></ion-icon>
          </ion-button>
          <ion-text color="primary">
            <h3>View<br>Log</h3>
          </ion-text>
      </ion-col>
    </ion-row>
    
  </ion-grid>

</ion-content>
